.div1 {
    text-align: center;
}
.div2 {
    text-align: center;
    background-color: white;
    width:40%;
    
    margin:20px auto;
}

table {
    width:100%;
    font-size: 20px;
    border-spacing: 1em .5em;
    padding: 1em 1em 1em 1em;
    margin:auto;
  }

  .bttn-group {
    display: grid;
    text-align: center;
    padding-left: 40%;
    padding-top: 2%;
  }
  
  .bttn {
    background-color:whitesmoke;
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin:20px auto;
    width: 10%;
    transition-duration: 0.4s;
  }
  
  .bttn:hover {
    background-color:#71c9ce;
  }